
body {
    margin: 0; /* 确保没有默认的边距 */
    padding: 0; /* 确保没有默认的内边距 */
    background-image: url('神庙.jpg'); /* 添加背景图片 */
    background-size: cover; /* 使背景图片铺满屏幕 */
    background-position: center; /* 使背景图片居中显示 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
}



.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #5f3914;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#game-status, #game-content {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #867ae0;
    border-radius: 5px;
    background-color: #4c86cc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}